# Ignore node_modules, but not in the frontend directory
**/node_modules
.venv
__pycache__
**/__pycache__
.next
backend/data

# Ignore .git and .idea directories
.git
.idea

# Allow the frontend lib directory
!frontend/lib

